{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>welcome {{request.user}}</h1>
{% if messages %}
  {% for message in messages %}
  <p>{{message}}</p>
  {% endfor %}
  {% endif %}
<a href="{% url 'logout' %}" class="btn btn-primary">logout</a>
{% endblock content %}