{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data" novalidate class="shadow p-5">
  {% csrf_token %}
  {% if messages %}
  {% for message in messages %}
  <p>{{message}}</p>
  {% endfor %}
  {% endif %}
  {% for f in form %}
  {{f.label}}{{f}}<br>
  {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock content %}