{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>This is sign up page</h3>
<form action="" method="post" enctype="multipart/form-data" novalidate class="shadow p-5">
  {% csrf_token %}
 
  <div class="container-fluid">
    {% for f in form %}
    {{f.label}}{{f}}<br>
    {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock content %}